*{
    padding: 0;
    margin: 0;
}
.banner{
    height: 500px;
    background-image: url(bg-image.jpg);
    background-position: 1000px bottom; /* right,left,bottom ,top,center*/
    background-repeat: repeat;
    background-size: cover; 
    background-origin: border-box;  
    background-clip: border-box;
    color: white;
    line-height: 30px;
    padding: 200px 0;
}