.main{
    display: flex;
    justify-content: center;

}
.div1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
    transition: all 2s;
}
.div1:hover{
    width: 300px;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
    transition-duration: 1s;
    transition-delay: 2s;
}
.div2:hover{
    width: 300px;
}
.div3{
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
    transition-duration: 2s;
}
.div3:hover{
    width: 300px;
}
.div4{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
}
.div4:hover{
    width: 300px;
}
.div5{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
}
.div5:hover{
    width: 300px;
}
.div6{
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 0 10px;
    text-align: center;
    line-height:100px;
}
.div6:hover{
    width: 300px;
}