/* border-image and border image slice */
.p1{
    border: 10px solid transparent;
    padding:10px;
    border-image: url(border-image.png) ;
    border-image-slice: 40% 2%;
    margin-bottom: 40px;
    border-image-repeat: round;
}

/* border-image-source and border image slice */
.p2{
    border: 10px solid transparent;
    border-image-source: url(border-image.png)  ;
    border-image-slice: 25% 20%;
    margin-bottom: 40px;
    border-image-repeat: repeat;
}
/* border-image-source,border-image-slice,border-image-repeat,border-image-width */
.p3{
    border: 10px solid transparent;
    border-image-source: url(border-image.png)  ;
    border-image-slice: 10% 7%;
    border-image-repeat: space;
    border-image-width: 10px;
    margin-bottom: 80px;
    padding-bottom: 30px;
}
/* border-image-source,border-image-repeat,border-image-slice,border-image-width,border-image-outset */
.p4{
    height:10px;
    background-color:#FFFFFF;
    border: 15px solid transparent;
    border-image-source:url(border-image.png);  
    border-image-repeat: stretch;
    border-image-slice: 40;
    border-image-width: 9px;
    border-image-outset: 10px;
}
