/* automatic numbering with counters */
.main-heading{
    counter-reset: title;
}

h1::before{
    counter-increment: title;
    content: "title " counter(title)":";
    background-color: red ;
    color: white;
}

/* Nesting Counter css */

.main-header{
    counter-reset: section;
}
h2{
    counter-reset: subsection;
}

h2::before{
    counter-increment: section;
    content: "Section" counter(section)". ";
    background-color: green ;
    color: white;
}

h3::before{
    counter-increment: subsection;
    content: counter(subsection)"   :    ";
    background-color: purple;
    color:white;
}